html {
  height: 100%;
  color: #333;
  font-size: 62.5%;
}

body {
  height: 100%;
}

a {
  color: #666;
}

input {
  height: 2rem;
  border: .2rem solid #aaa;
}

input[type=file] {
  border: 0;
}

textarea {
  border: .2rem solid #aaa;
}

button {
  height: 2.6rem;
  padding: .1rem .6rem;
  border: .2rem solid #444;
  background-color: #789;
  color: #fff;
}

header {
  padding: .5rem 1rem;
  background-color: #789;
  color: #fff;
  font-weight: bold;
}

header a {
  color: #fff;
  text-decoration: none;
}

header > h1 {
  margin: 0;
  font-size: 2.5rem;
}

section[role=application] {
  margin: 1rem;
  font-size: 1.6rem;
}

section[class=box] {
  margin-bottom: 1rem;
  border: .2rem solid #aaa;
  background-color: #def;
}

ul[class=actions] {
  margin: 1rem 0;
}

.diradd {
  padding: 1rem;
  text-align: center;
}

.diroption {
  margin: 1rem;
}

.dirlist {
  width: 100%;
  margin-bottom: 1rem;
}

.dirlist th {
  background-color: #def;
}

.dirlist th.header {
  background-color: #789;
  color: #fff;
  font-weight: bold;
}

.dirlist th,
.dirlist td {
  padding: .5rem;
  border: .2rem solid #aaa;
}

.dirlist .dirduplicatedhash,
.dirlist .dirduplicatedfiles,
.dirlist .dirduplicatedsize {
  text-align: right;
}

.dirinfo {
  margin: 0 0 1rem;
  padding: 0;
  text-align: center;
  list-style: none;
}

.dirinfo li {
  display: inline;
}

.dirinfo .title {
  font-weight: bold;
}

.dirstatus {
  margin: 1rem 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.dirstatus li {
  display: inline;
}
