html {
  height: 100%;
  color: #333;
  font-size: 62.5%;
}

body {
  height: 100%;
}

a {
  color: #666;
}

header {
  padding: .5rem 1rem;
  background-color: #789;
  color: #fff;
  font-weight: bold;
}

header a {
  color: #fff;
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

ul {
  padding-left: 2rem;
}

.text-right {
  text-align: right;
}


/* Form */

input,
textarea {
  border: .2rem solid #aaa;
}

input[type=file] {
  border: 0;
}

input {
  height: 2rem;
}

button {
  height: 2.6rem;
  padding: .1rem .6rem;
  border: .2rem solid #444;
  background-color: #789;
  color: #fff;
}


/* Page */

section[role=application] {
  margin: 1rem;
  font-size: 1.6rem;
}

.dirinfo {
  margin: 0 0 1rem;
  padding: 0;
  text-align: center;
  list-style: none;
}

.dirinfo li {
  display: inline;
}

.dirinfo .title {
  font-weight: bold;
}

.box {
  margin-bottom: 1rem;
  border: .2rem solid #aaa;
  background-color: #def;
}

.box > .content {
  margin: 1rem;
}

.box.table {
  border: 0;
  background-color: #fff;
}

.box.table > header {
  border: .2rem solid #aaa;
  border-bottom: 0;
}

table.list {
  width: 100%;
}

table.list th,
table.list td {
  padding: .5rem;
  border: .2rem solid #aaa;
}

table.list th {
  background-color: #def;
}
