{% extends 'dirlist.html' %}

{% block title %}{{ super() }} - {{ directory }}{% endblock %}
{% block ptitle %}{{ super() }} - <a href="/dir/{{ directory.get_hash() }}">{{ directory }}</a>{% endblock %}

{% block application %}
  <section role="application">
    <ul class="dirinfo">
      <li><span class="title">Last update:</span> {{ directory.get_lastupdate()|default('-', true) }}</li>
      <li>
        <span class="title">Duplicated (hash/file/size):</span>
        {{ directory.get_duplicated_hash() }} /
        {{ directory.get_duplicated_files() }} /
        {{ directory.get_duplicated_size()|str_size() }}
      </li>
    </ul>

    <section class="box">
      <header>Actions</header>
      <ul class="actions">
        <li><a href="/dir/{{ directory.get_hash() }}/update">Update</a></li>
        <li><a href="/dir/{{ directory.get_hash() }}/delete" onclick="return confirm('Delete this directory cache?')">Delete</a></li>
      </ul>
    </section>

    <section class="box">
      <header>Options</header>
      <form class="diroption" method="post" action="/dir/{{ directory.get_hash() }}/option">
        <ul class="actions">
          <li>
            <input type="checkbox" name="followlink" {% if directory.is_option_follow_link() %}checked{% endif %}>Follow Links</li>
          <li>Excludes:<textarea name="exclude">{{ directory.exclude|join('\n') }}</textarea></li>
        </ul>
        <button type="submit">Save</button>
      </form>
    </section>

    <section class="box">
      <header>Check file exist in this directory</header>
      <form class="diroption" method="post" enctype="multipart/form-data" action="/dir/{{ directory.get_hash() }}/indir">
        <input type="file" name="file" required>
        <button type="submit">Check</button>
      </form>
    </section>

    <form method="post" action="/dir/{{ directory.get_hash() }}/deletefile" onsubmit="return confirm('Delete selected files?')">
      <table class="dirlist">
        <thead>
          <tr>
            <th class="header" colspan="2">Files Duplicated</th>
          </tr>
        </thead>
        <tbody>
          {% for hashfile, size, files in directory.get_duplicated()|reverse %}
            <tr>
              <th>{{ size|str_size() }}</th>
              <th>{{ hashfile }}</th>
            </tr>
            {% for filename in files %}
              <tr><td colspan="2">
                <label><input type="checkbox" name="file" value="{{ filename }}">
                {{ filename }}</label>
                </td></tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
      <button type="submit">Delete Files</button>
    </form>
  </section>
{% endblock %}
